pathscript=yourAbsolutePath/unCOVERApp/www/ #write absolute path which contains uncoverapp 
geneList=/yourpath/gene.txt
genome=hg19 or hg38
notation_bam=number or chr #Bam chromosome Notation 
bamList=/yourpath/bam.list
output=/yourpath #write the absolute pathway which you would direct your output directory
